<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>

    <style>

        .center{
            display:flex; 
            align-items: 
            center; justify-content: center;
        }

    </style>


    <title>Main</title>
</head>
<body>


    <div class="p-2 mb-2 bg-dark bg-gradient fw-bold text-white sticky-top text-center">
        <h1>REST API CON VIEWSET PARA ZAITO</h1>
    </div>    


    <div class="container">
        <div class="row">
            <div class="col">               
                <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">                                    


                    <div class="container mb-3">

                        <div class="container p-3 my-2 mb-5 bg-gradient bg-dark text-white rounded">
                            <h2 class="fw-bold">INSTRUCCIONES DE LA API:</h2>
                            <p>El repositorio de esta API lo puedes encontrar 
                                <a href="https://github.com/JhonJanderVelasquez/herokudrf.git" target="_blank">aquí</a>. 
                            </p>
                        
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                    <td>1</td><td>apirestzaito.herokuapp.com/api/products/</td>
                                </tr>
                                <tr>
                                    <td>2</td><td>apirestzaito.herokuapp.com/api/images/</td>
                                </tr>

                                <tr>
                                    <td>3</td><td>apirestzaito.herokuapp.com/api/products/{id}</td>
                                </tr>

                                <tr>
                                    <td>4</td><td>apirestzaito.herokuapp.com/api/images/{id}</td>
                                </tr>

                              </tbody>
                        </table>
                      </div>

                      <div class="card mb-5">
                        <div class="card-header fw-bold text-center">
                            INSTRUCCIONES API POSTMAN PARA PRODUCTOS
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">Si deseas consultar todos los productos, usas la 1ra url. Este es un método <b>List</b>.</li>
                          <li class="list-group-item">Para consultar solo la información de un producto, usas la 3ra url. Este es un método de tipo <b>Retrieve</b>.</li>
                          <li class="list-group-item">Para crear un nuevo producto, envías la petición en formato JSON usando la 1ra url. Este es un método de tipo <b>Create</b> </li>
                          <li class="list-group-item">Para eliminar un producto, lo puedes hacer a través de la 3ra url. Este es un método de tipo <b>Destroy</b></li>
                          <li class="list-group-item">Si deseas actualizar un producto, lo puedes hacer a través de la 3ra url. Este es un método de tipo <b>Update</b></li>
                        </ul>
                      </div>


                    <hr/>

                      
                    <div class="text-center">


                        <div class="row mb-5 center">
                            <div class="col card shadow bg-light p-4" >
                                    Si deseas detallar la documentación tipo Swagger para conocer todos las urls
                                    permitidas por la API,
                                    entonces da clic sobre el libro que está a la derecha.
                            </div> 
                            <div class="col">
                                <div>
                                    <a href="/swagger" target="_blank"> 
                                        <lord-icon
                                            src="https://cdn.lordicon.com/ttioogfl.json"
                                            trigger="morph"
                                            style="width:100px;height:100px">
                                        </lord-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <hr/>


                        <div class="row mb-5 center">
                            <div class="col">
                                <a href="/api/products" target="_blank"> 
                                    <lord-icon
                                        src="https://cdn.lordicon.com/cllunfud.json"
                                        trigger="hover"
                                        colors="outline:#121331,primary:#646e78,secondary:#ebe6ef"
                                        stroke="75"
                                        style="width: 100px;height: 100px;">
                                </lord-icon>
                                </a>
                            </div>
                            <div class="col card shadow bg-light p-4">
                                    Si deseas consultar todos los productos de la base de datos de la API,
                                    entonces da clic sobre el carrito que está en la parte izquierda.
                            </div> 

                        </div>


                        <hr/>


                        <div class="row mb-5 center">
                            <div class="col card shadow bg-light p-4">
                                    Si deseas consultar todos las imágenes de la base de datos de la API,
                                    entonces da clic sobre la cámara que está a la derecha.
                            </div> 
                            <div class="col">
                                <div>
                                    <a href="/api/images" target="_blank"> 
                                        <lord-icon
                                            src="https://cdn.lordicon.com/mxddzdmt.json"
                                            trigger="hover"
                                            style="width:100px;height:100px">
                                        </lord-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="container mt-3" style="text-align:right;">
                            <p>CONTACTO</p>
                            <p>Jhon Jander Velásquez Llanos</p>
                            jhonjandervelasquezllanos@gmail.com
                        </div>

                    </div>
                </div>    
            </div>
        </div>
    </div>



    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>
</html>