<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>

    <title>Main</title>
</head>
<body>


    <div class="p-2 mb-2 bg-primary bg-gradient fw-bold text-white sticky-top text-center">
        <h1>REST API CON VIEWSET PARA ZAITO</h1>
    </div>    


    <div class="container">
        <div class="row">
            <div class="col">               
                <div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded text-center">                                    
                    <div class="p-3 mb-2 bg-primary bg-gradient fw-bold text-white rounded">
                        <h5>INSTRUCCIONES PARA EL MANEJO DE LA API</h5>
                    </div>


                    <div class="container mb-3">

                        <p class="mb-5">
                            <span class="lead">Las urls disponibles para consultar en la API son:</span> <br>
                            El respositorio de esta API lo puedes encontrar 
                            <a href="https://github.com/JhonJanderVelasquez/Rest_API_ViewSet_Entrevista">aquí</a>.<br>
                            1. https://apirestzaito.herokuapp.com/api/products/<br>
                            2. https://apirestzaito.herokuapp.com/api/images/<br><br>

                            3. https://apirestzaito.herokuapp.com/api/products/{id}<br>
                            4. https://apirestzaito.herokuapp.com/api/images/{id}<br><br>

                            <ul style="text-align: left;">
                                <li>Si deseas por ejemplo consultar todos los productos, usas la 1ra url.<br></li>
                                <li>Si deseas consultar solo la información de un producto, entonces la 3ra url.<br></li>
                                <li>Si deseas realizar un POST para crear un nuevo producto, envías la petición por la 1ra url.<br></li>
                                <li>Si deseas realizar un DELETE de un producto, lo haces a través de la 3ra url.<br></li>
                                Y así sucesivamente...
                            </ul>
                        </p>


                        <div class="row mb-5">
                            <div class="col">
                                <a href="/api/products"> 
                                    <lord-icon
                                        src="https://cdn.lordicon.com/cllunfud.json"
                                        trigger="hover"
                                        colors="outline:#121331,primary:#646e78,secondary:#ebe6ef"
                                        stroke="75"
                                        style="width: 100px;height: 100px;">
                                </lord-icon>
                                </a>
                            </div>
                            <div class="col card shadow">
                                <p>
                                    Si deseas consultar todos los productos de la base de datos de la API,
                                    entonces da clic sobre el carrito que está en la parte izquierda.
                                </p>
                            </div> 
                        </div>

                        <div class="row mb-5">
                            <div class="col card shadow">
                                <p>
                                    Si deseas consultar todos las imágenes de la base de datos de la API,
                                    entonces da clic sobre la cámara que está a la derecha.
                                </p>
                            </div> 
                            <div class="col">
                                <div>
                                    <a href="/api/images"> 
                                        <lord-icon
                                            src="https://cdn.lordicon.com/mxddzdmt.json"
                                            trigger="hover"
                                            style="width:100px;height:100px">
                                        </lord-icon>
                                    </a>
                                </div>
                            </div>
                        </div>


                </div>    
            </div>
        </div>
    </div>



    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
</body>
</html>